<script>
    function pass(id){
      if (confirm('确认审核通过吗'))
      {
        $.get('/admin/pass?id='+id,function(rehtml){
            // alert(rehtml);
            if(rehtml==1){
                $("#main").load('/admin/adminapply');
                $(".modal-backdrop").remove(); //消除遮罩层
               // location.href="/admin/adminapply";
            }else{
                alert('服务端出错');
            }
        });
        }
    }
  function reject(id){
    rejectform.rid.value=id;
    if($('#bb').is(':hidden')){
       $('#aa').hide();
      $('#bb').show();
    } 

  }
   function rejectSub(){
    $.post('/admin/reject',$('#rejectform').serialize(),function(rehtml){
      if(rehtml==1){
        alert("驳回成功")
        $("#main").load('/admin/adminapply');
        $(".modal-backdrop").remove(); //消除遮罩层
    }else{
        alert('服务端出错');
    }
});
    return false;
     }

     function onback(){
       $('#aa').show();
       $('#bb').hide();
     }
</script>
<div class="row">
  <div class="  col-md-1">
  </div>
  <div class="  col-md-10">
    <tr id='addtr' style='display:none'>
          <td colspan='2' align='center'>
         <table class="table table-condensed" margin='10px' >
          <thead>
            <tr>
              <th>真实姓名</th>
              <th>手持证件照</th>
              <th>个人简介</th>
              <th>身份证号</th>
              <th>昵称</th>
              <th>申请时间</th>
            </tr>
          </thead>
          <tbody>
          <% rs.forEach(function(row){ %>
            <tr>
             <td><%-row.realname%></td>
            <td><img src='../<%-row.photopath%>' width='120px'/><br/></td>
             <td><%-row. brief%></td>
                <td><%-row.idnumber%></td>
                <td><%-row.nicheng%></td>
                <td><%
                time=row.createtime;
                %>
                <%-time.getFullYear()%>年
                <%-time.getMonth()+1%>月
                <%-time.getDate()%>日
              </td>
                  </tr>
                   <tr>
               <td>
                <button type="button" class="btn btn-primary" onclick="pass('<%-row.id%>')">通过审核</button>&nbsp;
               <button type="button" class="btn btn-primary" id="click_event" onclick="reject('<%-row.id%>')">审核驳回</button>
              </td>
              </tr>
             <% }) %>
              </tbody>
            </table>
          </td>
        </tr>
    </div>
  </div>