
<div id='toolbar'>请点击您的相关位置完善您的信息</div>
  <div id="mapContainer" style='width:100%; height:700px;margin:18px 0px'></div>
  <script>
    //初始化地图对象，加载地图
    var map = new AMap.Map('mapContainer', {
		view:new AMap.View2D({
			resizeEnable: true,
			center: new AMap.LngLat(116.397428, 39.90923),
			zoom: 18	
		})
    });

    
	function eventHandler(event){
		evt = event;
	  var lnglat = event.lnglat;
	 rejectform.lng.value=event.lnglat.getLng();
	 rejectform.lat.value=event.lnglat.getLat();
		 //alert(lnglat.lng);   //经度
		// alert(lnglat.lat);	//纬度
		$('#myModal').modal('show');
	}

	var listener = AMap.event.addListener(map,"click",eventHandler);
	<% rs1.forEach(function(row){%>
		        
			var marker = new AMap.Marker({                 
			  map:map,                 
			  position:[<%-row.lng%>,<%-row.lat%>], 
			  title:'<%-row.shopname%>',
			  icon:"http://webapi.amap.com/images/0.png",
			  offset:new AMap.Pixel(-10, -20) 
				 });
			marker.setMap(map);
			marker.setLabel({
			offset: new AMap.Pixel(-10, -20),
			content: '<%-row.detail%>'
			});

<% }) %>
AMap.plugin(['AMap.ToolBar','AMap.Scale','AMap.OverView'],function(){
            map.addControl(new AMap.ToolBar());
            map.addControl(new AMap.Scale());
            map.addControl(new AMap.OverView({isOpen:true}));
    });
    //输入提示
    // var auto = new AMap.Autocomplete({
    //      input: "tipinput"
    // });
    var evt=null;
	function subInfo(){
	if(rejectform.shopname.value==''){
		alert('店铺名称不允许空');
		pubform.shopname.focus();
		return false;
	}
	if(rejectform.keywords.value==''){
		alert('店铺查询不允许空');
		pubform.keywords.focus();
		return false;
	}
	if(rejectform.reason.value==''){
		alert('店铺描述不允许空');
		pubform.reason.focus();
		return false;
	}
	if(rejectform.detail.value==0){
		alert('请选择店铺类别');
		pubform.detail.focus();
		return false;
	}
       
	var marker = new AMap.Marker({                 
		  map:map,                 
		  position:evt.lnglat,  
		  title:$('#name').val(),
		  icon:"http://webapi.amap.com/images/0.png",
		  offset:new AMap.Pixel(-10, -20)
		  
	   }); 
		marker.setMap(map);
		marker.setLabel({
	        offset: new AMap.Pixel(-10, -20),
	        content: $('#detail').val()
	    });
	      
$.ajax({
    url: '/home/pubshop',
    type: 'POST',
    cache: false,
    data: new FormData($('#rejectform')[0]),
    processData: false,
    contentType: false
}).done(function(res) {
	if(res==1){
        alert("成功")
       //$("#main").load('/homemap');
        $(".modal-backdrop").remove(); //消除遮罩层
    }else if (res==0){
        alert('服务端出错');
    }else{
    	alert('未知错误');
    }
}).fail(function(res) {
	alert('上传失败');
});  
	      
      // rejectform=lnglat;
//     $.post('/home/pubshop',$('#rejectform').serialize(),function(rehtml){
//       if(rehtml==1){
//         alert("成功")
//        //$("#main").load('/homemap');
//         $(".modal-backdrop").remove(); //消除遮罩层
//     }else{
//         alert('服务端出错');
//     }
// });
    return true;
    
     }
			
//判断浏览器是否支持FileReader接口
function idphotoChange(sourceId, targetId) {  
    if (typeof FileReader === 'undefined') {  
        alert('你的浏览器不支持FileReader接口！');  
        return;  
    }    
    var file = document.getElementById(sourceId).files[0]; 
    if(!/image\/\w+/.test(file.type)){  
        alert("看清楚,这个需要图片！"); 
        return false;
        }else if (!/\S/.test(file.type)) {
        	alert("不允许为空")
        }
    var reader = new FileReader();  
    //将文件以Data URL形式读入页面  
    reader.readAsDataURL(file);
    reader.onload=function(e){  
        //显示文件  
        var img = document.getElementById(targetId);  
          img.src = this.result;  
        // result.innerHTML='<img src="' + this.result +'" alt="" />'; 
    
    } 
}  

 
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					信息
				</h4>
			</div>
			<div class="modal-body">
			<!-- --------------------提交----------------------------------- -->
			<form id="rejectform" enctype="multipart/form-data">
				店铺名称：  <input type="text" class="form-control" id="shopname" placeholder="请输入营业点名称" name="shopname">
				店铺查询：<input type="text" class="form-control" id="keywords" placeholder="请输入查询关键词" name='keywords'>

				店铺描述：<textarea cols='76' rows='5' name='reason' placeholder="请描述您的店铺" style="outline:none;resize:none;overflow-y:show"></textarea><br/>
				<div>
				<td align='left'>店铺图片:</td>
		      <input type="file" name="photo" id="idphotoView" onchange="idphotoChange(this.id,'imgPre');" />  
              <img id="imgPre" src="" style="display: block; width: 100px;height:auto;" />  
				</div>
				<div class="form-group">
				    <select class="form-control" id="detail" name="detail">
				  <option value="0" style='text-align: left' >店铺分类</option>
			      <% rs.forEach(function(row){ %>
				  <option value='<%-row.id%>'>
				  <%-row.typename%>
				  </option>
				  <%})%>
			    </select>
			  <input type='hidden' name='lng'>
			  <input type='hidden' name='lat'>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary"  onclick='return subInfo();' data-dismiss="modal">
					提交
				</button>
				</div>
				</form>
			<!-- --------------------------结束------------------------------ -->
			</div>
		</div>
	</div>
</div>
