<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					信息
				</h4>
			</div>
			<div class="modal-body">
	<!-- --------------------提交----------------------------------- -->
			<form id="shopform" enctype="multipart/form-data">
			 <% rs1.forEach(function(row){%>
				店铺名称：  <input type="text" class="form-control" id="shopname" name="shopname" value="<%-row.shopname%>">
				店铺查询：<input type="text" class="form-control" id="keywords" name='keywords' value="<%-row.keywords%>">

				店铺描述：<textarea id="reason" cols='76' rows='5' name='reason' style="outline:none;resize:none;overflow-y:show"></textarea><br/>
				<script>  
                  document.getElementById("reason").value="<%-row.reason%>"  
              </script>  
				<div>
				<td align='left'>店铺图片:</td>
		      <input type="file" name="photo" id="idphotoView" onchange="idphotoChange(this.id,'imgPre');"/>  
              <img id="imgPre" src="<%-row.photourl%>" style="display: block; width: 100px;height:auto;" />  
				</div>
				<input type='hidden' name='lng' value="<%-row.lng%>">
			    <input type='hidden' name='lat' value="<%-row.lat%>">
				<%})%>
				<div class="form-group">
				    <select class="form-control" id="detail" name="detail">
			      <% rs.forEach(function(row){ %>
				  <option value='<%-row.id%>'>
				  <%-row.typename%>
				  </option>
				  <%})%> 
			    </select>
			    <%-rs[0].detail%>
			    <script>
			    document.getElementsByTagName('option')[<%-rs1[0].detail%>-1].selected='selected';
				</script>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary"  onclick='return shopmanage();' data-dismiss="modal">
					提交
				</button>
				</div>
				</form>
		<!-- --------------------------结束------------------------------ -->
			</div>
		</div>
	</div>
	</div>