<!-- <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>  
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script> -->
<script>
    function addNewGoods(){
       $('#chuangjian').show()
      $('#refer').hide()
      $('#goodsForm').show();
     
   }
  function onSub(){
     $.ajax({
    url: '/home/pubgoods',
    type: 'POST',
    cache: false,
    data: new FormData($('#goodsForm')[0]),
    processData: false,
    contentType: false
}).done(function(res) {
        alert("成功");
}).fail(function(res) {
  alert('上传失败');
}); 

}
        
//判断浏览器是否支持FileReader接口
function goodsImg(sourceId, targetId) {  
    if (typeof FileReader === 'undefined') {  
        alert('你的浏览器不支持FileReader接口！');  
        return;  
    }    
    var file = document.getElementById(sourceId).files[0]; 
    if(!/image\/\w+/.test(file.type)){  
        alert("看清楚,这个需要图片！"); 
        return false;
        }else if (!/\S/.test(file.type)) {
          alert("不允许为空")
        }
    var reader = new FileReader();  
    //将文件以Data URL形式读入页面  
    reader.readAsDataURL(file);
    reader.onload=function(e){  
        //显示文件  
        var img = document.getElementById(targetId);  
          img.src = this.result;  
        // result.innerHTML='<img src="' + this.result +'" alt="" />'; 
    
    } 
}  


       function hideGoodsForm(){
      $('#goodsForm').hide();

    } 
 function updGoods(goodsid){
  $('#chuangjian').hide()
  $('#refer').show()
   $('#goodsForm').show();
   $('#goodsid').val(goodsid);
   $.get('./getGoodsInfo?id='+goodsid,function(reValue){
      if(reValue!=''){
        goodsForm.goodsname.value=reValue.goodsname;
        goodsForm.oldgood.value=reValue.goodsimg;
        document.getElementById('goodsImgShow').src=".."+reValue.goodsimg;
        goodsForm.price.value=reValue.price;

        $(goodsForm.typeid).val(reValue.typeid);
        
        //goodsForm.editorValue.value=reValue.goodsintro;
        //UE.getEditor('editor').getContent()
        UE.getEditor('editor').setContent(reValue.goodsintro);
      }else{
        alert('库中无此记录');
      }
  });
       

   }
   
   function refers(){
     $.ajax({
    url: '/home/refer',
    type: 'POST',
    cache: false,
    data: new FormData($('#goodsForm')[0]),
    processData: false,
    contentType: false
}).done(function(res) {
  if(res==1){
        alert("成功");
        // $("#main").load();
      }else if(res==0){
        alert("插入失败");
      }
}).fail(function(res) {
  alert('上传失败');
}); 
 return true;
   }
   
    function remove(id){
     if(confirm('确认删除此条记录吗?')){
           $.get('/home/remove?id='+id,function(rehtml){
               if (rehtml==1) {
                alert("删除成功");
               }else if(rehtml==0){
                alert("删除失败");
               }
           })
     }
    }
</script>
<form id='goodsForm' enctype="multipart/form-data" onsubmit="return onSub();" style='display:none' >
  <table class="table table-bordered">
  <caption>商品信息&nbsp;
  <button type="button" class="btn btn-success" onclick='hideGoodsForm()'>收起</button>
  </caption>
  <tbody>
    <tr>
      <td><input type="text" class="form-control" name="goodsname" placeholder="请输入商品名称"></td>
    </tr>
    <tr>
      <td>请选择商品图片<input type="file" name="goodsimg" id="goodsimg"  onchange="goodsImg(this.id,'goodsImgShow')">
      <input type="hidden" name="oldgood">
       <img id="goodsImgShow" src="" style="display: block; width: 100px;height:auto;"/>  
      
      </td>
     </td>
    </tr>
    <tr>
      <td>
        <select class="form-control" name='typeid'>
            <% rs.forEach(function(row){ %>
          <option value='<%-row.id%>'>
          <%-row.typename%>
          </option>
          <%})%> 
        </select>
      </td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" name="price" placeholder="请输入价格,如:3.15(3块一毛五)"></td>
    </tr>
    <tr>
      <td>
        商品介绍
      </td>
    </tr>
    <tr>
      <td>
       <!--  <div id="editor" type="text/plain" style="width:100%;height:360px;"></div>
        <script type="text/javascript">  
            var ue = UE.getEditor('editor');  
        </script> -->
         <% include ueditor %>      
         </td>
    </tr>
    <tr>
      <td align='center'>
      <input type='hidden' id="goodsid" name='goodsid' value=''/>
        <input type='hidden' name='shopid' value='<%-rs1[0].id%>'/>
        <button id="chuangjian" type="submit" class="btn btn-success">创建新商品</button>&nbsp;
       <button id="refer" type="button" class="btn btn-success" style="display: none;" onclick='return refers()'>提交</button>
       <button type="button" class="btn btn-success" onclick='hideGoodsForm()'>收起</button>      
      </td>
    </tr>
  </tbody>
</table>
</form>
<table class="table">
    <caption>
    <button type="button" class="btn btn-warning" onclick='addNewGoods()'>添加新商品</button>
    </caption>
    <thead>
      <tr>
        <th>图片</th>
        <th>商品简介</th>
        <th>好评度</th>
        <th>
        操作
          </th>
      </tr>
    </thead>
    <tbody>
      <% goodsRs.forEach(function(row){ %>
      <tr>
        <td><img src="<%-row.goodsimg%>" width='60px' height='60px'/></td>
        <td>
          <%-row.goodsname %><br/>
          <a href='#'>查看详细</a>
        </td>
        <td><%-row.praise%></td>
        <td>
<button type="button" class="btn btn-primary" data-toggle="collapse" onclick='updGoods(<%-row.id%>)'>修改</button>
<button type="button" class="btn btn-primary" data-toggle="collapse" onclick='remove(<%-row.id%>)'>删除</button>                
        </td>
      </tr>
<tr>
      <% }) %>
       
            </td>
          </tr>
    </tbody>
  </table>
 